.flex-container {
    display: flex;
    align-items: center;
   
}

#button-div{
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    margin-top:500px;
}

