@import url('https://fonts.googleapis.com/css2?family=Armata&family=K2D:wght@700&display=swap');

body {
    flex-grow: 0;
    background-color: #8ccbc7;
  }

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .Rectangle-81 {
    margin-top: 16px;
    width: 320px;
    height: 64px;
    padding: 14px 8px 18px;
    border-radius: 14px;
    border: solid 4px #000;
    background-color: #feaa5d;
    text-align: center;
  }

.BUTTON-TEXT {
    width: 304px;
    height: 32px;
    font-family: 'Armata', sans-serif;
    font-family: 'K2D', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

.door {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#closed-door {
    display: inline;
    position: relative;
}

#open-door {
    position: relative;
    display: none;
}
