.flex-container {
    display: flex;
    align-items: center;
   
}

#button-div {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    margin-top:500px;
}

#closed-door {
    display: inline;
    position: absolute;
}

#open-door {
    position: absolute;
    display: none;
}
