# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pack
*.pack.old
*.old
/cache
.next/**
next-project/arctic-well/.next/cache/webpack/client-development/*
next-project/arctic-well/.next/cache/*
next-project/arctic-well/.next/cache/
next-project/arctic-well/.next/cache/webpack
next-project/arctic-well/.next/trace
next-project/arctic-well/.next/build-manifest.json
next-project/arctic-well/.next/server/pages/_document.js
next-project/arctic-well/.next/server/pages/_error.js
next-project/arctic-well/.next/cache/webpack/server-development/
next-project/arctic-well/.next/cache/webpack/server-development/0.pack
next-project/arctic-well/.next/cache/webpack/server-development/7.pack