@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;700&family=Karla:wght@400;700&display=swap');
/* START OF RESET-CODE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET-CODE */

body {
    flex-grow: 0;
    /* background-color: var(--brand-middle-blue); */
    background-color: var(--brand-baby-blue);
    /* background-color: var(--brand-cyan); */
    /* background-color: #8ccbc7; */
  }

  /************CLASS*********************/

  /* @TODO OUTDATED! This section needs updating with values from variables.css */
.BUTTON-TEXT {
    width: 304px;
    height: 32px;
    font-family: 'Armata', sans-serif;
    font-family: 'K2D', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

.door {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--mobile-margin);
} */

/* @TODO (possibly) OUTDATED! This section (probably) needs updating with values from variables.css */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

/* @TODO OUTDATED! This section needs updating with values from variables.css */
.Rectangle-81 {
  margin-top: 16px;
  width: 320px;
  height: 64px;
  padding: 14px 8px 18px;
  border-radius: 14px;
  border: solid 4px #000;
  background-color: #feaa5d;
  text-align: center;
}

.header-map {
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-weight: var(--heading-2-font-weight);
  line-height: var(--heading-2-line-height);
  text-align: center;
  color: var(--brand-dark-black);
  /* Not sure where these hardcoded values came from. Will remove them later. */
  padding-bottom: 8px;
  padding-top: 48px;
}


/****************** ID*****************************/
/* 
.frame {
  width: 21rem;
  height: 21rem;
  background: rgb(0, 0, 0);
  margin: auto;
  padding: 10px 10px;
} */

#container-map{
  border: 2px, solid, var(--brand-dark-black);
}

#closed-door {
  display: inline;
  position: relative;
}

#map{
width: var(--mobile-total-width);
height: 30rem;
margin: var(--mobile-margin);
}

#nearest {
  font-family: var(--sub-heading-4-font-family);
  font-size: var(--sub-heading-4-font-size);
  font-weight: var(--sub-heading-4-font-weight);
  line-height: var(--sub-heading-4-line-height);
  letter-spacing: normal;
  text-align: center;
  color: var(--brand-dark-black);
}