/* Currently not used, but as soon as the React/Vite refactor we will store as many values here as is practical */
@import url('https://fonts.googleapis.com/css2?family=Armata&family=K2D:wght@700&display=swap');

/* @TODO: add spacing and other font-related styling here */
:root {
    --brand-white: #FFFFFF;
    --brand-navy-dark: #374146;
    --brand-dark-black: #000000;
    --brand-sunny-yellow: #F6EE20;
    --brand-dark-blue: #001E4E;
    --brand-orange: #EA732E;
    --brand-cyan: #4BDAF0;
    --brand-middle-blue: #00ADE4;

    --mobile-screen-width: 376px;
    --mobile-total-width: 344px;
    --mobile-margin: 16px;

    --desktop-screen-width: 1440px;
    --desktop-total-width: 1312px;
    --desktop-margin: 64px;

    --mobile-heading-root-font-size: 13px;
    --desktop-heading-root-font-size: 16px;
    
    /* should possibly only be K2D */
    --heading-1-font-family: 'Armata', sans-serif, 'K2D', sans-serif;
    --heading-1-font-weight: bold;
    /* ~48px / 3rem */
    --heading-1-font-size: 3rem; 
    /* ~56px / 3.5rem */
    --heading-1-line-height: 3.5rem;

    /* should possibly only be K2D */
    --heading-2-font-family: 'Armata', sans-serif, 'K2D', sans-serif;
    --heading-2-font-weight: bold;
    --heading-2-font-size: 2.5rem; 
    --heading-2-line-height: 3rem;

    /* should possibly only be K2D */
    --heading-3-font-family: 'Armata', sans-serif, 'K2D', sans-serif;
    --heading-3-font-weight: bold;
    --heading-3-font-size: 2rem; 
    --heading-3-line-height: 2.5rem;

    /* should possibly only be K2D */
    --heading-4-font-family: 'Armata', sans-serif, 'K2D', sans-serif;
    --heading-4-font-weight: bold;
    --heading-4-font-size: 1.5rem; 
    --heading-4-line-height: 2rem;

    /* @TODO unsure if the font weight applies properly: please test it */
    --sub-heading-3-font-family: 'K2D', sans-serif;
    --sub-heading-3-font-weight: lighter;
    --sub-heading-3-font-size: 2rem;
    --sub-heading-3-line-height: 2.5rem;

    --sub-heading-4-font-family: 'K2D', sans-serif;
    --sub-heading-4-font-weight: lighter;
    --sub-heading-4-font-size: 1.5rem;
    --sub-heading-4-line-height: 2rem;

    --heading-mobile-1-font-family: 'K2D', sans-serif;
    --heading-mobile-1-font-weight: bold;
    --heading-mobile-1-font-size: 3rem;
    --heading-mobile-1-line-height: 3.5rem;

    /* @TODO import Karla to make this work */
    --heading-mobile-2-font-family: 'Karla', sans-serif;
    --heading-mobile-2-font-weight: bold;
    --heading-mobile-2-font-size: 2.5rem;
    --heading-mobile-2-line-height: 3rem;

    --heading-mobile-3-font-family: 'Karla', sans-serif;
    --heading-mobile-3-font-weight: bold;
    --heading-mobile-3-font-size: 2rem;
    --heading-mobile-3-line-height: 2.5rem;

    --heading-mobile-4-font-family: 'Karla', sans-serif;
    --heading-mobile-4-font-weight: bold;
    --heading-mobile-4-font-size: 1.5rem;
    --heading-mobile-4-line-height: 2rem;

    --body-1-font-family: 'Karla', sans-serif;
    --body-1-font-weight: normal;
    --body-1-font-size: 1rem;
    --body-1-line-height: 1.5rem;

    --body-1-bold-font-family: 'Karla', sans-serif;
    /* Style guide says "Regular / 500", unsure if typo */
    --body-1-bold-font-weight: bold;
    --body-1-bold-font-size: 1rem;
    --body-1-bold-line-height: 1.5rem;

    --body-2-font-family: 'Karla', sans-serif;
    --body-2-font-weight: normal;
    --body-2-font-size: 0.8rem;
    --body-2-line-height: 1.25rem;
}