.landing_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.flexbox_container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px var(--mobile-margin) 0px var(--mobile-margin);
  flex-flow: column-reverse wrap;
  /* @TODO: the code below this comment needs to be reworked and expanded to match the desired design */
  justify-content: center;
}

.bg_wrap {
  position: absolute;
  /*  I have no idea why the values on height and width make the background work as intended, but they do 
  *   don't change them unless you know what you're doing
  */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.button {
  position: absolute;
  width: 272px;
  height: 48px;
  overflow: hidden;
  top: 35em;
  left: 3.21em;
  right: 0;
  bottom: 0;
}

.buttonText {
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  font-size: var(--heading-4-font-size);
  line-height: var(--heading-4-line-height);
  color: var(--brand-dark-black);
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.text {
  color: var(--brand-dark-blue);
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  font-size: var(--heading-2-font-size);
  line-height: var(--heading-2-line-height);
  position: relative;
  width: fit-content;
  text-align: center;
  top: -6.3em;
  left: 0;
  right: 0;
  bottom: 0;
}
