.map_container {
  width: 100%;
  height: 100%;
}

.location_container {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 82px;
  right: 16px;
  background: none;
  border: none;
  z-index: 10;
}

.centerBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* @TODO: complete styling with the actual icons when possible */

.infobox_super_container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  text-align: center;
}

.infobox_icon_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 1;
  position: inherit;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.infobox_icons {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  z-index: 2;
  overflow: visible;
}
