.more_container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 376px;
}

.flexbox_container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto 0;
  padding: 0;
  max-width: 376px;
}

.bg_wrap {
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.more_div {
  margin-top: 0.5em;
  padding: 0;
}

.more_links {
  font-family: var(--heading-mobile-4-font-family);
  font-weight: var(--heading-mobile-4-font-weight);
  font-size: var(--heading-mobile-4-font-size);
  line-height: var(--heading-mobile-4-line-height);
  margin: var(--mobile-margin);
}

.more_lines {
  border: 1px solid #374146 !important;
  margin: 15px;
  background-color: #374146;
}

.more_footer{
  display: inline-flex;
  margin-top: 13em;
  margin-left: 1.8em;
}

.more_footer_text {
  width: 100%;
  margin-left: 1em;
  font-family: var(--body-1-bold-font-family);
  font-weight: var(--body-1-bold-font-weight);
  font-size: var(--body-1-bold-font-size);
  line-height: var(--body-1-bold-line-height);
}

.flag{
  margin-left: 0.8em;
  margin-top: 0.2em;
}


.heading_text {
  text-align: center;
  font-family: var(--heading-mobile-4-font-family);
  font-weight: var(--heading-mobile-4-font-weight);
  font-size: var(--heading-mobile-4-font-size);
  line-height: var(--heading-mobile-4-line-height);
  margin-top: -1.22em;
}

.heading_text_box{
  text-align: center;
  font-family: var(--heading-mobile-4-font-family);
  font-weight: var(--heading-mobile-4-font-weight);
  font-size: var(--heading-mobile-4-font-size);
  line-height: var(--heading-mobile-4-line-height);
  margin-top: -1.22em;
  margin-left: 1.6em;
  
}

.arrow {
  margin-left: 1em;
  padding-top: 23px;
}

.picture_about {
  margin-top: 2em;
  margin-left: 1.45em;
  border-radius: 5px;
}

.about_text {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 1.5em;
}

.charity {
  text-align: center;
  font-family: var(--heading-mobile-4-font-family);
  font-weight: var(--heading-mobile-4-font-weight);
  font-size: var(--heading-mobile-4-font-size);
  line-height: var(--heading-mobile-4-line-height);
  margin-top: 2.5em;
}

.charity_text {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 1em;
}

.picture_charity {
  margin-top: 1em;
  text-align: center;
}

.our_boxes_text {
  text-align: center;
  font-family: var(--body-1-bold-font-family);
  font-weight: var(--body-1-bold-font-weight);
  font-size: var(--body-1-bold-font-size);
  line-height: var(--body-1-bold-line-height);
  margin-left: 50px;
  margin-right: 16px;
  margin-top: 1em;
}

.picture_box {
  margin-left: 13.1em;
  margin-top: 3em;
}

.heading_text_2 {
  text-align: left;
  font-family: var(--heading-mobile-4-font-family);
  font-weight: var(--heading-mobile-4-font-weight);
  font-size: var(--heading-mobile-4-font-size);
  line-height: var(--heading-mobile-4-line-height);
  margin-top: -12em;
  margin-left: 16px;
}

.city_text {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0.3em;
}

.list {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0.4em;
}

.line {
  margin-top: -21em;
  margin-left: 2.4em;
}

.heading_text_3 {
  text-align: left;
  font-family: var(--heading-mobile-4-font-family);
  font-weight: var(--heading-mobile-4-font-weight);
  font-size: var(--heading-mobile-4-font-size);
  line-height: var(--heading-mobile-4-line-height);
  margin-top: -19em;
  margin-left: 16px;
}

.festival_box_text {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0em;
}

.picture_bigbox {
  margin-left: 8.7em;
  margin-top: -4.5em;
}

.picture_health {
  margin-left: 1em;
  margin-top: 1.5em;
  border-radius: 5px;
}

.rent_text {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 1.5em;
}

.rent_text2 {
  text-align: left;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 1.5em;
}

.rent_nr {
  text-align: center;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: -43.5px;
  margin-right: 16px;
  margin-top: -2.8em;
}

.rent_email {
  text-align: center;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  margin-left: 16px;
  margin-right: 17px;
  margin-top: -2.8em;
}

.icon {
  text-align: left;
  margin-left: 1em;
  margin-top: 2em;
}

.icon_health {
  display: inline-flex;
  text-align: left;
  margin-top: 4em;
  margin-left: 0.3em;
}

.icon_health2 {
  display: inline-flex;
  text-align: left;
  margin-top: 1em;
  margin-left: 0.3em;
}
