.container {
  display: flex;
  position: fixed;
  max-width: var(--mobile-screen-width);
  width: 100%;
  height: 4.125em;
  bottom: 0;
  color: var(--brand-white);
  background-color: var(--brand-navy-dark);
  border-top: 2px solid var(--brand-dark-black);
  justify-content: space-evenly;
  text-underline-offset: 0.3em;
}

.navlinks {
  display: flex;
  max-width: var(--mobile-screen-width);
  width: 100%;
  height: 100%;
  font-family: var(--body-1-bold-font-family);
  font-weight: var(--body-1-bold-font-weight);
  font-size: var(--body-1-bold-font-size);
  line-height: var(--body-1-bold-line-height);
  justify-content: space-evenly;
  align-items: center;
}

.home_nav {
  padding: 0.8em;
  margin: -0.8em;
  cursor: pointer;
}

.map_nav {
  padding: 0.8em;
  margin: -0.8em;
  cursor: pointer;
}

.more_nav {
  padding: 0.8em;
  margin: -0.8em;
  cursor: pointer;
}

.link_styles {
  padding: 0;
}

.underline {
  text-decoration: underline;
}
