.onboarding_container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 376px;
}

.flexbox_container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 376px;
  flex-flow: column-reverse wrap;
  justify-content: center;
  margin: auto 0;
  padding: 0;
}

.bg_wrap {
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.text1 {
  position: absolute;
  height: fit-content;
  max-width: 376px;
  color: var(--brand-dark-black);
  font-family: var(--heading-mobile-3-font-family);
  font-weight: var(--heading-mobile-3-font-weight);
  font-size: var(--heading-mobile-3-font-size);
  line-height: var(--heading-mobile-3-line-height);
  /* @TODO: adjust top value */
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  text-align: center;
}

.text2 {
  position: absolute;
  height: fit-content;
  max-width: 376px;
  color: var(--brand-dark-black);
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  /* @TODO: adjust top value */
  top: 12em;
  bottom: 0;
  margin: auto 0;
  text-align: center;
}

.button {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 48px;
  max-width: 272px;
  overflow: hidden;
  /* @TODO: adjust top value */
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  align-self: center;
}

.go_button {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 48px;
  max-width: 272px;
  overflow: hidden;
  /* @TODO: adjust top value */
  top: 13.2em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  align-self: center;
}

.buttonText {
  position: absolute;
  height: fit-content;
  color: var(--brand-dark-black);
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  font-size: var(--heading-4-font-size);
  line-height: var(--heading-4-line-height);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
  text-decoration: none;
  text-align: center;
}

.textskip {
  display: flex;
  position: relative;
  width: fit-content;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  color: var(--brand-white);
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  /* @TODO: adjust top value */
  top: 28em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  align-self: center;
}

.textReady {
  position: absolute;
  color: var(--brand-dark-black);
  font-family: var(--heading-mobile-2-font-family);
  font-weight: var(--heading-mobile-2-font-weight);
  font-size: var(--heading-mobile-2-font-size);
  line-height: var(--heading-mobile-2-line-height);
  /* @TODO: potentially adjust top value */
  top: 2em;
  margin: auto 0;
  align-self: center;
}
