@import url("https://fonts.googleapis.com/css2?family=K2D:wght@300;700&family=Karla:wght@400;700&display=swap");

:root {
  --brand-white: #ffffff;
  --brand-navy-dark: #374146;
  --brand-dark-black: #000000;
  --brand-sunny-yellow: #f6ee20;
  --brand-dark-blue: #001e4e;
  --brand-orange: #ea732e;
  --brand-cyan: #4bdaf0;
  --brand-middle-blue: #00ade4;
  --brand-trump-orange: #ffa842;
  --brand-baby-blue: #8bdff0;
  --brand-yellow-snow: #fafc95;
  --brand-ice-blue: #c0f4ff;

  --mobile-screen-width: 376px;
  --mobile-screen-height: 736px;
  /* 670px / 41.875em (assuming 1em = 16px) */
  --mobile-screen-height-no-navbar: 670px;
  --mobile-total-width: 344px;
  --mobile-margin: 16px;

  --desktop-screen-width: 1440px;
  --desktop-total-width: 1312px;
  --desktop-margin: 64px;

  --mobile-heading-root-font-size: 13px;
  --desktop-heading-root-font-size: 16px;

  --heading-1-font-family: "K2D", sans-serif;
  --heading-1-font-weight: 700;
  /* ~48px / 3rem */
  --heading-1-font-size: 3rem;
  /* ~56px / 3.5rem */
  --heading-1-line-height: 3.5rem;

  --heading-2-font-family: "K2D", sans-serif;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 2.5rem;
  --heading-2-line-height: 3rem;

  --heading-3-font-family: "K2D", sans-serif;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 2rem;
  --heading-3-line-height: 2.5rem;

  --heading-4-font-family: "K2D", sans-serif;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 1.5rem;
  --heading-4-line-height: 2rem;

  --sub-heading-3-font-family: "K2D", sans-serif;
  --sub-heading-3-font-weight: 300;
  --sub-heading-3-font-size: 2rem;
  --sub-heading-3-line-height: 2.5rem;

  --sub-heading-4-font-family: "K2D", sans-serif;
  --sub-heading-4-font-weight: 300;
  --sub-heading-4-font-size: 1.5rem;
  --sub-heading-4-line-height: 2rem;

  --heading-mobile-1-font-family: "K2D", sans-serif;
  --heading-mobile-1-font-weight: 700;
  --heading-mobile-1-font-size: 3rem;
  --heading-mobile-1-line-height: 3.5rem;

  --heading-mobile-2-font-family: "K2D", sans-serif;
  --heading-mobile-2-font-weight: 700;
  --heading-mobile-2-font-size: 2.5rem;
  --heading-mobile-2-line-height: 3rem;

  --heading-mobile-3-font-family: "K2D", sans-serif;
  --heading-mobile-3-font-weight: 700;
  --heading-mobile-3-font-size: 2rem;
  --heading-mobile-3-line-height: 2.5rem;

  --heading-mobile-4-font-family: "K2D", sans-serif;
  --heading-mobile-4-font-weight: 700;
  --heading-mobile-4-font-size: 1.5rem;
  --heading-mobile-4-line-height: 2rem;

  --body-1-font-family: "Karla", sans-serif;
  --body-1-font-weight: 400;
  --body-1-font-size: 1rem;
  --body-1-line-height: 1.5rem;

  --body-1-bold-font-family: "Karla", sans-serif;
  --body-1-bold-font-weight: 700;
  --body-1-bold-font-size: 1rem;
  --body-1-bold-line-height: 1.5rem;

  --body-2-font-family: "Karla", sans-serif;
  --body-2-font-weight: 400;
  --body-2-font-size: 0.8rem;
  --body-2-line-height: 1.25rem;

  --body-2-bold-font-family: "Karla", sans-serif;
  --body-2-bold-font-weight: 700;
  --body-2-bold-font-size: 0.8rem;
  --body-2-bold-line-height: 1.25rem;

  --body-3-font-family: "Karla", sans-serif;
  --body-3-font-weight: 400;
  --body-3-font-size: 0.625rem;
  --body-3-line-height: 1rem;

  --body-3-bold-font-family: "Karla", sans-serif;
  --body-3-bold-font-weight: 700;
  --body-3-bold-font-size: 0.625rem;
  --body-3-bold-line-height: 1rem;

  --label-regular-font-family: "Karla", sans-serif;
  --label-regular-font-weight: 400;
  --label-regular-font-size: 0.8rem;
  --label-regular-line-height: 1.5rem;

  --label-bold-font-family: "Karla", sans-serif;
  --label-bold-font-weight: 700;
  --label-bold-font-size: 0.8rem;
  --label-bold-line-height: 1.5rem;

  --label-large-regular-font-family: "Karla", sans-serif;
  --label-large-regular-font-weight: 400;
  --label-large-regular-font-size: 1rem;
  --label-large-regular-line-height: 1.75rem;

  --label-large-bold-font-family: "Karla", sans-serif;
  --label-large-bold-font-weight: 700;
  --label-large-bold-font-size: 1rem;
  --label-large-bold-line-height: 1.75rem;

  --label-button-regular-font-family: "Karla", sans-serif;
  --label-button-regular-font-weight: 400;
  --label-button-regular-font-size: 1rem;
  --label-button-regular-line-height: 1rem;
}
